{% extends '@SyliusAdmin/Crud/create.html.twig' %}

{% block content %}
    <div class="ui segment">
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button class="ui primary button" type="submit">
                {{ 'sylius.ui.create'|trans }}
            </button>
            <a class="ui button" href="{{ path('dotit_sylius_newsletter_plugin_admin_newsletter_index') }}">
                {{ 'sylius.ui.cancel'|trans }}
            </a>
        {{ form_end(form) }}
    </div>
{% endblock %}
